<p>{{ flags()['flag-a'] }}</p>
<p>{{ flags()?.['flag-b'] }}</p>
<p>{{ (featureFlags$ | async)?.['flag-c'] }}</p>
<div [class.active]="flags()['flag-class']"></div>
<button (click)="onClick(flags()['flag-clicked'])">Button</button>
<span>{{ featureFlags['flag-x'] ? 1 : 2 }}</span>
<span>{{ featureFlags?.['flag-y'] ? 3 : 4 }}</span>

@let flagsForTable = featureFlags$ | async;
@if (flagsForTable) {
    <app-table [featureFlags]="flagsForTable"></app-table>
}

@let flagsBS = flagBehaviorSubject | async;
<span>{{ flagsBS?.['flag-indirect-1'] }}</span>

@let flagsS = flagSubject | async;
<span>{{ flagsS?.['flag-indirect-2'] }}</span>

<app-page-inner></app-page-inner>
